.mainchat__message__list__posts{data: {message: {id: message.id}}}
  .mainchat__message__list__posts__name
    = message.user.name
    .mainchat__message__list__posts__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .mainchat__message__list__posts__text
      - if message.content.present?
        .mainchat__message__list__posts__text__content
          = message.content
      = image_tag message.image.url, class: '.mainchat__message__list__text__image' if message.image.present?
