.sidebar
  .sidebar__user
    .sidebar__user__box
      .sidebar__user__box__name
        name
      .sidebar__user__box__menu
        .sidebar__user__box__menu__cog
          = link_to "#" do
            = icon('fas', 'cog')
        .sidebar__user__box__menu__edit
          = link_to "#" do
            = icon('far', 'edit')

  .sidebar__group
    .sidebar__group__list
      .sidebar__group__list__name
        techcamp
      .sidebar__group__list__message
        まだメッセージがありません
      .sidebar__group__list__name
        techcamp
      .sidebar__group__list__message
        まだメッセージがありません


  